style
body {
    background: linear-gradient(#e66465, #9198e5);
    padding:13px;
    margin:10px;
    border:12px
}
img {
    float: center;
    width: 300px;
    height: auto;
}

.challenges{
font-family: 'Fascinate', cursive;
  border-top:10px;
  border-bottom:10px;
  margin:10px;
  padding:12px;
  font-size:15px
}

article.challenges p{
  padding:8px;
  padding-top:2px;
  color:black;
  margin-top:10px;
  margin-bottom:10px;
  font-size: 15px;
  text-transform: none
  border:dotted 4px white;
  border-bottom:dotted 3px white;
}

div#results{
font-family: 'Fascinate', cursive;
font-size: 15px;
margin:10px;
padding:8px;
}

div#results p{
color:white;
font-family: 'Kavivanar', cursive;
font-size: 15px;
text-transform:none;
padding:12px;
margin:10px;
}
div#problems p{
  font-family: 'Kavivanar', cursive;
  font-size: 15px;
  padding:12px;
  margin:10px
}

div.homepage{
  size:12px;
  margin:10px;
  padding:13px;
  border-top:dotted 3px white
}
nav{
  color:white;
  font-family: 'Fascinate', cursive;
  text-transform:none;
  font-size:15px;
  margin:10px;
  padding:25px;
  width: auto;
  height: auto;
  border:solid 4px white;
  border-top:dotted 4px white;
  border-bottom:dotted 4px white;


}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
</style>
