<style media="screen">
#container {
  width: 100vw;
  height:100vw;
  position: relative;
  z-index:-100;
}
#container-text{
  font-family: 'Comfortaa', cursive;
  font-size: 120px;
}
#titlebox{

  position: absolute;
  top:0;
  left:0;
  width:100%;
  z-index:10;

#caption-box {
  position: absolute;
  left:0;
  bottom:0;
  z-index:10;
}

iframe#fake {
    width: 800px;
    height: 500px;
    resize: both;
    overflow: hidden;
  }

</style>






/* Los Angeles Background: https://www.britannica.com/place/Los-Angeles-California  */
