<style media="screen">
#container {
  width: 100vw;
  height:100vw;
  position: relative;
  z-index:-100;
  margin:0
  padding:0;

}
#text{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  z-index:10;
  font-family: 'Oxygen', sans-serif;
  font-size: 120px;
  margin:0;
  padding:0;
  color:black;
}
#paragraph{
  position: absolute;
  left:0;
  bottom:0;
  z-index: auto;
  margin:0;
  padding:0;
  color:white;

}
iframe#fake {
    width: 800px;
    height: 500px;
    resize: both;
    overflow: hidden;
  }

</style>






/* Los Angeles Background: https://www.britannica.com/place/Los-Angeles-California  */
