<style media="screen">

body {
    background: linear-gradient(#e66465, #9198e5);
    padding: 13px;
    margin:10px;
    border:12px
}
.challenges{
  border-top:10px;
  border-bottom:10px;
  margin:10px;
  padding:12px;
  font-size:15px
}

article.challenges p{
  padding:8px;
  padding-top:2px;
  color:black;
  margin-top:10px;
  margin-bottom:10px;
  font-size: 15px;
  font-family: Garamond;serif;
  text-transform: none
  border:dotted 4px black;
  border-bottom:dotted 3px black;
}

div#results{
font-family: Garamond;serif;
font-size: 15px;
margin:10px;
padding:8px;
}

div#results p{
color:black;
font-size: 14px;
font-family: font-family:Garamond;serif;
text-transform:none;
padding:12px;
margin:10px;
}
div#problems p{
  border-bottom:dotted 3px black;
  padding:12px
  margin:10px
}
div#problems img{
  size:500px;
  width:400px;
  height:380px;
  border:solid 8px black;
  padding:12px;
  margin:10px
}

h2{
  font-family:Garamond;serif
  font-size: 12px;
  border:double 8px;
  padding:12px;
  margin:10px;
  background-color:#E69159
}
div.homepage{
  size:12px;
  margin:10px;
  padding:13px;
  border-top:dotted 3px black
}
nav{
  color:black;
  text-transform:none;
  font-size:15px;
  margin:10px;
  padding:12px;
  border-style:double 3px black;

}
</style>
