body {
    background-color: #9AE6C8;
    padding: 25px;
    border-radius:5px;
    border: solid: 2px
}

. major-section{
  margin: 20px;
  padding: 10px;
  border:solid 2px;
  border-radius: 5px
}
. minor-section{
  padding: 1px 20px;
  margin:10px
}
img {
    float: right;
    width: 400px;
    height: auto;
    opacity: 60%
}

a {
    text-decoration: none;
    color: black;
}
